---
name: test
on:
  pull_request:
  push:
    branches:
      - main
permissions: {}
jobs:
  get-node-active-major-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{steps.get_versions.outputs.versions}}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - id: get_versions
        uses: ./
  setup_node:
    runs-on: ubuntu-latest
    needs: get-node-active-major-versions
    strategy:
      matrix:
        node-version: ${{fromJson(needs.get-node-active-major-versions.outputs.versions)}}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: "npm"
          node-version: ${{ matrix.node-version }}
      - run: echo "$NODE_VERSION"
        env:
          NODE_VERSION: ${{ matrix.node-version }}
  test-complete:
    runs-on: ubuntu-latest
    needs: setup_node
    steps:
      - run: exit 0
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
