---
name: test
on:
  pull_request:
  push:
    branches:
      - main
permissions: {}
jobs:
  get-node-active-major-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{steps.get_versions.outputs.versions}}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - id: get_versions
        uses: ./
  setup_node:
    runs-on: ubuntu-latest
    needs: get-node-active-major-versions
    strategy:
      matrix:
        node-version: ${{fromJson(needs.get-node-active-major-versions.outputs.versions)}}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: "npm"
          node-version: ${{ matrix.node-version }}
      - run: echo "$NODE_VERSION"
        env:
          NODE_VERSION: ${{ matrix.node-version }}
  test-complete:
    runs-on: ubuntu-latest
    needs: setup_node
    steps:
      - run: exit 0
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
